@charset "UTF-8";
/* CSS Document created by Christy Chatmon, Spring 2019*/

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 16px;
	line-height: 1.8em;
	color: #00000;
	background-color: #ffe6cc;
	padding: 0 40px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #00000;
}
h1 {
	font-size: 40px;
	font-weight: bold;
	padding: 4px 0;
	font-variant: small-caps;
	letter-spacing: .4em;
	line-height: 2em;
}
h2 {
	font-size: 20px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	background-color: #ccccff;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #ccccff;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #ff0000;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}

/* table styles -------------------------------------- */
table {
	border: solid #ccccff 1px;
}
td {
	padding: 6px;
	border: solid #ccccff 1px;
}
th {
	font-weight: bold;
	background-color: #ccccff;
	text-align: center;
	padding: 6px;
	border: solid #e6ffcc 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #B22222 1px;
}

img {
	border: solid #B22222 1px;

}

iframe {
	border: solid 	#B22222 1px;
	padding: 8px;
	margin: 8px;
}
